<?xml version="1.0"?>
<!--
 * Space48_QuickView
 *
 * @category    Space48
 * @package     Space48_QuickView
 * @Date        02/2017
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author      @diazwatson
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <space48_quickview>
            <general>
                <btn_text>Quick View</btn_text>
                <custom_css>background-color: DarkOrange</custom_css>
            </general>
        </space48_quickview>
    </default>

</config>