<div class="quickview-content">
    <form action="/" method="post">
        <div class="quickview-gallery">
            <ul class="quickview-gallery__main">
                <li if="imageIndex() === 0" class="quickview-gallery__main-item"><img src="//placehold.it/600x800/aaaaaa" alt=""></li>
                <li if="imageIndex() === 1" class="quickview-gallery__main-item"><img src="//placehold.it/600x800/bbbbbb" alt=""></li>
                <li if="imageIndex() === 2" class="quickview-gallery__main-item"><img src="//placehold.it/600x800/cccccc" alt=""></li>
            </ul>
            <ul class="quickview-gallery__thumbs">
                <li class="quickview-gallery__thumb-item" data-bind="click: thumbnailSelect"><img src="//placehold.it/74x100/aaaaaa" alt=""></li>
                <li class="quickview-gallery__thumb-item" data-bind="click: thumbnailSelect"><img src="//placehold.it/74x100/bbbbbb" alt=""></li>
                <li class="quickview-gallery__thumb-item" data-bind="click: thumbnailSelect"><img src="//placehold.it/74x100/cccccc" alt=""></li>
            </ul>
        </div>
        <div class="product-info-main-wrapper">
            <div class="product-info-main">
                <div class="breadcrumbs">
                    <ul class="items">
                        <li class="item home">
                            <a href="#">
                                <span data-bind="i18n: 'Home'"></span>
                            </a>
                        </li>
                        <li class="category">
                            <a href="#">
                                Category
                            </a>
                        </li>
                        <li class="item product">
                            <span data-bind="text: productName"></span>
                        </li>
                    </ul>
                </div>
                <div class="product-title-wrapper">
                    <h3 class="product-title" data-bind="text: productName"></h3>
                </div>
                <div class="product-info-price">
                    <div class="price-box price-final_price">
                        <div class="price-wrapper">
                            <span class="price">£20.00</span>
                        </div>
                    </div>
                    <div class="product-info-stock-sku">
                        <div if="getIsSalable()" class="stock available" title="Availability">
                            <span data-bind="i18n: 'Availability'"></span><span>:</span>
                            <span class="stock-text" data-bind="i18n: 'In stock'"></span>
                        </div>
                        <div ifnot="getIsSalable()" class="stock unavailable" title="Availability">
                            <span data-bind="i18n: 'Availability'"></span><span>:</span>
                            <span class="stock-text" data-bind="i18n: 'Out of stock'"></span>
                        </div>
                        <div class="product attribute sku">
                            <strong class="type" data-bind="i18n: 'SKU'"></strong>
                            <div class="value" data-bind="text: productSku"></div>
                        </div>
                    </div>
                </div>
                <div if="getIsSalable()" class="box-tocart">
                    <div class="fieldset">
                        <div class="quantity-selector js-quantity-selector">
                            <div class="field qty">
                                <label class="label" for="qty"><span>Qty</span></label>
                                <div class="control">
                                    <input data-bind="attr:{value: quantity()}" hidden type="number" name="qty">
                                </div>
                            </div>
                            <button data-bind="click: decrementQty" type="button" name="qty-minus" class="quantity-selector__minus js-qty-minus">-</button>
                            <button data-bind="click: incrementQty" type="button" name="qty-plus" class="quantity-selector__plus js-qty-plus">+</button>
                            <div class="quantity-selector__info">
                                <span>
                                    <span data-bind="i18n: 'Qty'"></span>: <span data-bind="text: quantity()"></span>
                                </span>
                            </div>
                        </div>
                        <div class="actions">
                            <button type="submit" data-bind="attr: {title: $t('Add to Basket')}" class="action primary tocart">
                                <span data-bind="i18n: 'Add to Basket'"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="full-details-view">
                    <a class="full-details-link" data-bind="attr: { href: '#' }">
                        <span data-bind="i18n: 'View full details'"></span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
